In [2]:
import pandas as pd
import numpy as np

In [3]:
sheet_names=['RL1','RL2','SR1','SR4A','SR6']
total_rows=0
dataframes=[]
for sheet_name in sheet_names:
    df=pd.read_excel(r"C:\Users\ATHIRA S\Downloads\P11-Coal-Terminal (1).xlsx",sheet_name=sheet_name)
    total_rows=df.shape[0]
    df['Machines']=sheet_name
    print(df.head())
    dataframes.append(df)
print(total_rows)

             Datetime  Nominal Capacity  Actual Tonnes Machines
0 2015-09-01 00:00:00              4200           4200      RL1
1 2015-09-01 01:00:00              4200           3941      RL1
2 2015-09-01 02:00:00              4200           3950      RL1
3 2015-09-01 03:00:00              4200           4200      RL1
4 2015-09-01 04:00:00              4200           4041      RL1
             Datetime  Nominal Capacity  Actual Tonnes Machines
0 2015-09-01 00:00:00              3350           3350      RL2
1 2015-09-01 01:00:00              3350           3350      RL2
2 2015-09-01 02:00:00              3350           3350      RL2
3 2015-09-01 03:00:00              3350           3350      RL2
4 2015-09-01 04:00:00              3350           3350      RL2
             Datetime  Nominal Capacity  Actual Tonnes Machines
0 2015-09-01 00:00:00              4500           4339      SR1
1 2015-09-01 01:00:00              4500           4179      SR1
2 2015-09-01 02:00:00              4500           4262      SR1
3 2015-09-01 03:00:00              4500           3779      SR1
4 2015-09-01 04:00:00              4500           3871      SR1
             Datetime  Nominal Capacity  Actual Tonnes Machines
0 2015-09-06 00:00:00              4500           3993     SR4A
1 2015-09-06 01:00:00              4500           4500     SR4A
2 2015-09-06 02:00:00              4500           4499     SR4A
3 2015-09-06 03:00:00              4500           4370     SR4A
4 2015-09-06 04:00:00              4500           4499     SR4A
             Datetime  Nominal Capacity  Actual Tonnes Machines
0 2015-09-01 00:00:00              3450           3365      SR6
1 2015-09-01 01:00:00              3450           3124      SR6
2 2015-09-01 02:00:00              3450           2978      SR6
3 2015-09-01 03:00:00              3450           3450      SR6
4 2015-09-01 04:00:00              3450           2859      SR6
720

In [11]:
master_df=pd.concat(dataframes)
master_df=master_df[['Datetime','Machines','Nominal Capacity','Actual Tonnes']]

In [12]:
master_df

               Datetime Machines  Nominal Capacity  Actual Tonnes
0   2015-09-01 00:00:00      RL1              4200           4200
1   2015-09-01 01:00:00      RL1              4200           3941
2   2015-09-01 02:00:00      RL1              4200           3950
3   2015-09-01 03:00:00      RL1              4200           4200
4   2015-09-01 04:00:00      RL1              4200           4041
..                  ...      ...               ...            ...
715 2015-09-30 19:00:00      SR6              3450           3131
716 2015-09-30 20:00:00      SR6              3450           3450
717 2015-09-30 21:00:00      SR6              3450           3450
718 2015-09-30 22:00:00      SR6              3450           2730
719 2015-09-30 23:00:00      SR6              3450           3450

[3288 rows x 4 columns]

In [13]:
master_df.to_excel(r"C:\Users\ATHIRA S\Downloads\P11-Coal-Terminal (finished).xlsx",'combined data',index=False)

C:\Users\ATHIRA~1\AppData\Local\Temp/ipykernel_3840/4010722682.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  master_df.to_excel(r"C:\Users\ATHIRA S\Downloads\P11-Coal-Terminal (finished).xlsx",'combined data',index=False)
C:\Users\ATHIRA~1\AppData\Local\Temp/ipykernel_3840/4010722682.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.1' currently installed).
  master_df.to_excel(r"C:\Users\ATHIRA S\Downloads\P11-Coal-Terminal (finished).xlsx",'combined data',index=False)

In [14]:
master_df.isna().sum()

Datetime            0
Machines            0
Nominal Capacity    0
Actual Tonnes       0
dtype: int64